* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 html {
     font-size: 62.5%;
}
h1 {
    text-align: center;
}
label {
    display: block;
    padding: 10px;
}
label span {
    font-size: 1.5rem;

}
label input {
    height: 10px;
    width: 150px;
}